<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.board.mapper.MemberMapper">
    <!-- 회원가입 -->
    <insert id="memberSignup" parameterType="kr.board.entity.Member">
        insert into users(id,pw,nick,email,phone,birthday) values (#{id},#{pw},#{nick},#{email},#{phone},#{birthday})
    </insert>
    
    <!-- 로그인 -->
    <select id="memberLogin" parameterType="kr.board.entity.Member" resultType="kr.board.entity.Member">
        select * from users where id=#{id} and pw=#{pw}
    </select>
    
    <!-- 회원정보 수정 -->
    <update id="memberUpdate" parameterType="kr.board.entity.Member">
        update users set nick=#{nick}, email=#{email}, phone=#{phone}, birthday=#{birthday} where user_id=#{user_id}
    </update>
    
    <!-- 비번정보 수정 -->
    <update id="memberPwUpdate" parameterType="kr.board.entity.Member">
        update users set pw=#{pw} where user_id=#{user_id}
    </update>
    
    <!-- 회원탈퇴 -->
	<delete id="memberDelete" parameterType="kr.board.entity.Member">
		delete from users where user_id=#{user_id}
	</delete>
    
</mapper>